.multiselect{
  display: flex;
  flex-direction: column;
  position: relative;

  input[type="text"] {
    outline: none;
    border:none;
  }

  &__select.focused{
    border-color:#2584FF;
    border-width: 2px;
    padding: 4px 7px;
  }
  &__select{
    outline: none;
    box-sizing: border-box;
    background-color: white;
    border: 1px #ccc solid ;
    border-radius: 3px;
    padding: 5px 8px;
    display: flex;
    justify-content: space-between;


    &__input{
      flex:1;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      input {
        flex: 1;
        width: 100%;
        min-width: 40px;
        padding: 5px;
      }
    }

    &__controls{
      display: flex;
      align-items: center;
      color : #ccc;

      &__separator{
        align-self: stretch;
        width: 1px;
        background-color: #ccc;
      }
    }
  }

  &__list{
    outline: none;
    padding: 4px 0;
    position:absolute;
    top:100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow: auto;

    margin-top:5px;
    background-color: white;
    border: 1px #ccc solid ;
    border-radius: 3px;


    display: flex;
    flex-direction: column;
  }
}

.deleteAllBtn,.expandListBtn{
  text-align: center;
  width: 25px;
  &:hover{
    color: #8d8d8d;
  }
}

.optionListItem{

  &:hover{
    background-color:#E0EAFF;
  }

  &__title{
    padding: 5px 10px;
    font-size: 20px;
    line-height: 1;
  }
}

.dropZoneWrapper{
  align-self: stretch;
  position: relative;
  width: 0;
  z-index:-1;

  &.checkMode{
    z-index: 1;
  }

  .dropZone{
    position: absolute;
    left: 0;
    bottom: 0;
    top:0;
    width: 50px;
    &.display{background-color: #8d8d8d}
  }
}
.selectedOptionDropZone{
  position: absolute;
  left: 0;
  bottom: 0;
  top:0;
  width: 50px;
  z-index: -1;

  &.overed{
    z-index:1;
  }
  &.showed{
    position: static;
    width: 50px;
    background-color: #8d8d8d;
    border-radius: 2px;
  }
}
.selectedOptionWrapper{
  position: relative;
  display: flex;


  .selectedOptionItem{
    margin: 1px 3px;
    background-color: #E6E6E6;
    border-radius: 2px;
    display: flex;

    cursor: move;

    &.hidden{
      display: none;
    }

    &__title{
      padding: 3px 5px;
      font-size:13px ;
    }

    &__deleteBtn{
      display: flex;
      align-items: center;
      width: 23px;
      font-size: 10px;
      border-radius: 2px;

      &:hover{
        background-color: #FFBDAD;
      }

      i{
        text-align: center;
        flex:1;
      }

    }

  }
}

